flask==3.0.3
flask-cors==4.0.1
gunicorn
psycopg2-binary
bcrypt==4.1.3
cryptography==42.0.8
face-recognition==1.3.0
opencv-python-headless # Mandatory for headless deployment to avoid libX11 errors
numpy==1.26.4
Pillow==10.4.0
pytz==2024.1
python-dotenv
PyJWT==2.8.0
# force rebuild